<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.14/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="logo bg-green-300 h-[10vh] p-2">
    <a href="/">logo</a>
</div>
<div class="content flex bg-yellow-300 h-[90vh]">
    <div class="left bg-red-300 h-[100%] w-[15%] p-2">
        <ul class="h-[90%] overflow-auto">
            <li th:class="${note.id == selectedNote.id} ? 'bg-blue-500' : '' " th:each="note : ${noteList}">
                <a class="block p-2" th:href="@{|/notes/${note.id}|}" th:text="${note.title}"></a>
            </li>
        </ul>
        <form action="/notes/write" method="post">
            <input type="submit" class="btn btn-info" value="추가"/>
        </form>
    </div>
    <div class="right bg-blue-300 h-[100%] w-[85%] p-2">
        <div class="flex flex-col gap-2">
            <input class="input" type="text" id="title" th:value="${selectedNote.title}">
            <textarea class="textarea textarea-bordered" id="content" th:text="${selectedNote.content}"></textarea>
        </div>
        <div class="flex mt-[10px]">
            <form th:action="@{|/notes/modify/${selectedNote.id}|}" method="post"
                  onsubmit="updateNote(this); return false;">
                <input type="submit" value="수정" class="btn btn-success"/>
            </form>
            <form th:action="@{|/notes/delete/${selectedNote.id}|}" method="post"
                  onsubmit="deleteNote(this); return false;">
                <input type="submit" value="삭제" class="btn btn-error"/>
            </form>
        </div>
    </div>
</div>
<script>

    function updateNote(form) {
        const titleInput = document.querySelector("#title");
        const contentInput = document.querySelector("#content");

        if (!form.querySelector('input[name="title"]')) {
            const newTitleInput = document.createElement('input');
            newTitleInput.type = 'hidden';
            newTitleInput.name = 'title';
            form.appendChild(newTitleInput);
        }

        if (!form.querySelector('textarea[name="content"]')) {
            const newContentInput = document.createElement('textarea');
            newContentInput.style.display = 'none';
            newContentInput.name = 'content';
            form.appendChild(newContentInput);
        }


        form.querySelector('input[name="title"]').value = titleInput.value;
        form.querySelector('textarea[name="content"]').value = contentInput.value;

        if (confirm("수정하시겠습니까?")) {
            form.submit();
        }
    }

    function deleteNote(form) {
        if (confirm("삭제하시겠습니까?")) {
            form.submit();
        }
    }

</script>
</body>
</html>