<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.14/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="logo bg-green-300 h-[10vh] p-2">
    logo
</div>
<div class="content flex bg-yellow-300 h-[90vh]">
    <div class="left bg-red-300 h-[100%] w-[15%] p-2">
        <ul>
            <li th:class="${note.id == selectedNote.id} ? 'bg-blue-500' : '' " th:each="note : ${noteList}">
                <a th:href="@{|/notes/${note.id}|}" th:text="${note.title}"></a>
            </li>
        </ul>
        <form action="/notes/write" method="post">
            <input type="submit" class="btn btn-info" value="추가"/>
        </form>
    </div>
    <div class="right bg-blue-300 h-[100%] w-[85%] p-2">
        <div class="flex flex-col gap-2">
            <input class="input" type="text" th:value="${selectedNote.title}">
            <textarea class="textarea textarea-bordered" th:text="${selectedNote.content}"></textarea>
        </div>
        <div class="mt-[10px]">
            <button class="btn btn-success">수정</button>
            <button class="btn btn-error">삭제</button>
        </div>
    </div>
</div>
</body>
</html>